<%= form_for(@member, url: admin_member_path, html: { class: 'form-horizontal' }) do |f| %>
  <fieldset>
    <div class="row row-grid">
      <div class="span8 offset2">
        <%= print_error_messages @member -%>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :name, :class => 'control-label' -%>
      <div class="controls">
        <%= f.text_field :name, :class => 'input-large' -%>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :job, :class => 'control-label' -%>
      <div class="controls">
        <%= f.text_field :job, :class => 'input-large' -%>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :weibo, :class => 'control-label' -%>
      <div class="controls">
        <%= f.text_field :weibo, :class => 'input-large' -%>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :website, :class => 'control-label' -%>
      <div class="controls">
        <%= f.text_field :website, :class => 'input-large' -%>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :bio, :class => 'control-label' -%>
      <div class="controls">
        <%= f.text_area :bio, :rows => 5 -%>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :disabled, :class => 'control-label' -%>
      <div class="controls">
        <%= f.check_box :disabled, :class => 'input-large' -%>
      </div>
    </div>
    <div class="form-actions" >
      <%= f.submit :class => 'btn btn-primary' -%>
    </div>
  </fieldset>
<%- end -%>
